{% extends 'base.html' %}
{{ super() }}
{% block content %}
    <section>
        <div class="container-xxl">
          <div class="row">
            <div class="col-8">
              <h1>{{ title }}</h1>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
      </section>
      <section>
        {% for cat, msg in get_flashed_messages(with_categories=true) %}
        <div class="alert {{cat}}" role="alert">
          {{msg}}
        </div>
        {% endfor %}
        <form action = "{{ action }}" method="post">
        <div class="container-xxl">
          {% for elem in default %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Department name:</span>
                <input value="{{elem[0]}}" type="text" name="department_name"class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group">
                <span class="input-group-text">Department description:</span>
                <textarea value="{{elem[1]}}" class="form-control" name="department_description" aria-label="With textarea"></textarea>
            </div>
            {% endfor %}
            <br>
            <div >
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
      </form>  
    </section>
    {% endblock -%}
