{% extends 'base.html' %}
{{ super() }}
{% block content %}
{% for data in all_deps %}
    <section>
        <div class="container-xxl">
          <div class="row">
            <span class="border border-dark border-2 rounded"  style="background-color: #D7D7D7;">
                <div class="row">
                    <div class="col">
                      <h3>{{data.dep_name}}</h3> 
                    </div>
                    <div class="col">
                      <h5>Number of workers: {{ characteristics[data.dep_name][1] }}</h5>
                    </div>
                    <div class="col">
                      <h5>Avg salary: {{characteristics[data.dep_name][0]}}</h5>
                    </div>
                    <div class="col-2 align-items-end">
                      <a href="#">  
                        <img src = "../static/images/icons8-edit-24.svg", alt="Edit" style="padding-right: 60px"> 
                      </a>
                      <a href="#">
                        <img src = "../static/images/icons8-delete-24.svg", alt="Delete"> 
                      </a>
                    </div>
                  </div> 
                <div class="row">
                    <div class="col">
                      <h5>Description:</h5><p>
                        {{data.dep_description}}
                      </p>
                    </div>
                </div>
            </span>
          </div>
        </div>
    </section>
  {% endfor %}
{% endblock -%}
