{% extends 'base.html' %}
{{ super() }}
{% block content %}
    <section>
        <div class="container-xxl">
          <div class="row">
            <div class="col-8">
              <h1>Add new employee</h1>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-xxl">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Name:</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Salary:</span>
                <input type="number" class="form-control" min="300" max="10000" step="50">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Date of birth:</span>
                <input type="date" max="2023-01-01" min="1935-01-01" value="2000-11-17" class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Department:</span>
                <select class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></select>
            </div>
            <br>
            <div >
                <button type="button" class="btn btn-success">Submit</button>
            </div>
        </div>
        
    </section>
    {% endblock -%}
</body>
</html>