{% extends 'base.html' %}
{{ super() }}
{% block content %}
    <section>
        <div class="container-xxl">
          <div class="row">
            <div class="col-8">
              <h1>Add new department</h1>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-xxl">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Department name:</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group">
                <span class="input-group-text">Department description:</span>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
            <br>
            <div >
                <button type="button" class="btn btn-success">Submit</button>
            </div>
        </div>
        
    </section>
    {% endblock -%}
